html {
  margin: auto;
  height: 100vh;
  background-color: #050c1a;
}

body{
  margin: 0;
  padding: 0;
}
.containerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

#gambar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  max-width: 350px;
}

#gambar img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

#namaSaya {
  color: white;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

#teks {
  color: white;
  text-align: justify;
  font: 14px "Fira Code";
  max-width: 600px;
  padding: 20px;
}
